*.xls
*.xlsx
*.pdf
*.csv
*.png
result*
*.zip
*.code-workspace
*.pptx
*.ipynb_checkpoints
*__pycache__
*.pkl
*.TXT
*.lzh
*.aux
*.dvi
*.out
*.log
*.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
!/thesis/*.pdf
/thesis/bibs/