@charset "Shift_JIS";



/* 共通 */

@import "dpath.css";

@import "indent.css";

@import "newupdata.css";

@import "accessory.css";

/****************************** 共通 ********************************/



body{

	padding:0;

	margin:0;

	background:#fff;

	}



a{

	color:#006;

	text-decoration:none;

	}

a:visited{

	color:#939;

	text-decoration:none;

	}

a:hover{

	color:#00c;

	text-decoration:underline;

	}



hr{

	display:none;

	}



.invisible,

.invisible a{

	display:none;

	}



.clear{

	clear:both;

	}



.update{

	font-size:x-small;

	color:#f00;

	/*font-weight:bold;*/

	white-space:nowrap;

	}

span[class="update"]{

	font-size:small;

	}

.update img{

	margin:0 2px;

	}



/****************************** ヘッダー ********************************/



#header{

text-align:right;

	background:#ccf;

	padding:0.5em 1%;

	}



#navigation{

	float:left;

text-align:left;

	padding:0.2em 0;

	margin:0;

	}

#navigation ul{

	margin:0;

	padding:0;

	}

#navigation li{

	display:inline;

	margin:0;

	white-space:nowrap;

	}

#navigation li a,

	#navigation .selected span{

	border-right:1px solid #000;

	padding:0 0.4em 0 0.2em;

	}

#navigation li.item7 a{

	border:none;

	}



#search{

	}

#search a{

	border:1px solid #99f;

	padding:0.1em 0.5em;

	margin-left:0.5em;

	white-space:nowrap;

	background:#fff;

	}

form{

	margin:0;

	padding:0;

	}

input{

	vertical-align:middle;

	margin-left:0.2em;

	}



/****************************** コンテンツ ********************************/

#content{

	padding:1em 1%;

	height:20em;

	width:100%;

	}

body>#content{

	height:auto !important;

	min-height:18em;

	width:98%;

	}



#content hr{

	display:block !important;

	}



#content a{

	text-decoration:underline;

	}



#content h1{

font-size:large;

margin:0;

padding:0.5em 0 1em;

}

#content>h1{

font-size:x-large;

}









/****************************** Adobe Reader ********************************/	



#getacro {margin-top:3em;margin-bottom:1em;}

#getacro p {text-align:center;}

#getacro a img {border: none;}



#getacro2 {

	height: 7em;

	width: 35em;

	display: block;

	position: relative;

	text-align: center;



}





#getacro2 span {

	height: 3em;

	width: 40em;

	display: block;

	position: absolute;

	left: -4em;

	top: 4em;

}



#getacro2 a {

	text-decoration: none;

	background-image: url(../images/getacro.gif);

	background-repeat: no-repeat;

	height: 3em;

	width: 8em;

	display: block;

	text-indent: -9999px;

	position: absolute;

	left: 26em;

	top: 3.5em;

}

